.navbar
  .container
    %a.brand{ href: "/" } PingPongPanda
    .nav-container
      %ul.nav
        %li#nav-newgame
          = link_to icon('plus-circle'), '#', { 'data-content' => 'new-game' }
        %li
          = link_to icon('list'), ranking_players_path
        %li
          = link_to icon('line-chart'), rating_history_players_path
        %li
          = link_to icon('bolt'), point_potential_players_path
        %li#nav-fullscreen
          = link_to icon('arrows-alt'), '#'
        - if current_player
          %li.nav-item#nav-logout
            = link_to icon('sign-out'), sessions_path, method: :delete
        - else
          %li.nav-item#nav-login
            = link_to 'Authenticate with Google', '/auth/google_oauth2'
